.col-1, .col-2, .col-3 {
	float: left;
}

.col-1 {
	width: 70%;
	padding: 0 5% 0 2.5%
}

.col-2 {
	width: 30%;
	padding: 0 2.5%;
}

.homepage_content {
	h2 {
		font-size: 1.1rem;
		text-transform: uppercase;
	}
	hr {
		width: 10em;
		display: block;
		height: 2px;
		border: 0;
		border-top: 2px solid #E9E9E9;
		margin: 2rem 0;
	}
	.chats_rooms {
	  li {
	    list-style:none;
	    text-align: center;
	  }
	  hr {
	    width: 100% !important;
	    //border-top: 1px solid #ccc !important;
	    border-top: 1px solid #E9E9E9;
	  }
	  a {
	    text-decoration: none;
	    &:hover {
	      color: $dark;
	    }
	  }
	}
	
	.welcome_content {
	  padding: 3em 0;
    text-align: center;
	}

}