<<<<<<< HEAD
=======
// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

>>>>>>> 161f994d2cda39520c5f44efed35f46e51e4e5b2
.col-1, .col-2, .col-3 {
	float: left;
}

.col-1 {
	width: 70%;
	padding: 0 5% 0 2.5%
}

.col-2 {
	width: 30%;
	padding: 0 2.5%;
}

.homepage_content {
	h2 {
		font-size: 1.1rem;
		text-transform: uppercase;
	}
	hr {
<<<<<<< HEAD
		width: 10em;
=======
		width: 3em;
>>>>>>> 161f994d2cda39520c5f44efed35f46e51e4e5b2
		display: block;
		height: 2px;
		border: 0;
		border-top: 2px solid $highlight;
		margin: 2rem 0;
	}
}