<footer id="main_footer">
	<p class="copyright">&copy;2016 Oleg Bloshenkin Chat App</p>
	<nav>
		<a href="#"><i class="fa fa-twitter"></i></a>
		<a href="#"><i class="fa fa-vk"></i></i></a>
		<a href="#"><i class="fa fa-github"></i></a>
	</nav>
</footer>